body {
    background-color: hsl(210, 46%, 95%);
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: 'Manrope', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 240px;
    width: 660px;
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
}

.container__contenido {
    padding-left: 40px;
}

.container__perfil {
    display: flex;
}

.container__titulo {
    font-size: 15px;
    color: hsl(217, 19%, 35%);
}

.container__parrafo {
    font-size: 13px;
    color: hsl(214, 17%, 51%);
}

.container__nombre {
    font-size: 10px;
    color: hsl(217, 19%, 35%);
    margin-left: 15px;
}

.container__img1 {
    margin: 0;
}

.container__img1 img {
    width: 300px;
    height: max-content;
    object-fit: contain;
}

.container__nombre p {
    color: hsl(212, 23%, 69%);
    margin: 0px;
}

.container__img2 {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.container__share {
    background-image: url("images/icon-share.svg");
    width: 15px;
    height: 15px;
    display: inline-block;
    background-size: 15px 15px;
}

.container__icon {
    background: hsl(210, 46%, 95%);
    width: 30px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.container__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.attribution {
    margin-top: 10px;
}